<div class="modal-body">
	<p>La zone "Fichiers serveurs" liste les images présentes sur le serveur (celles qui ont été téléchargées). Les déposer sur la zone "Photos" ou "Liste des paires" pour les insérer dans votre montage photo.</p>
	<p>Vous pouvez permuter les deux images d'une paire par glisser/déposer.</p>
	<p>Pour supprimer une photo d'une paire : shift + clic ou ctrl + clic. Lorsque les deux photos de la paire sont supprimées, la paire disparaît.</p>
	<p>Pour ajouter une paire : glisser/déposer une photo depuis les "Fichiers serveur" sur la zone "Liste des paires", shift + clic ou ctrl + clic donne le même résultat.</p>
	<p>Vous pouvez ordonner la "Liste des paires" par glisser/déposer.</p>
	<p>Vous pouvez naviguer dans les paires avec les touches droite/gauche.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$close()">Fermer</button>
</div>
