<div>
	<div class="col-xs-12 col-md-offset-2 col-md-8">
		<p><span class="btn btn-primary" ng-click="addStoryMod()">Nouvelle Audiostory</span></p>
		<pagination ng-show="storiesOk.length>itemsParPage" boundary-links="true" total-items="storiesOk.length" page="currentPage" items-per-page="itemsParPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="story in  (storiesOk=(Data.modele.stories | exists | filter:q | orderBy:'name')) | startFrom:(currentPage-1)*itemsParPage | limitTo:itemsParPage">
				<div class="col-sm-12">
					<div class="contact-btn cursor">
						<span class="glyphicon glyphicon-trash" ng-confirm-click="delStory(story)" ng-confirm-message="Sûr?"></span>
					</div>
					<a href="#/modstory/{{story.id}}">{{story.nom ? story.nom :'(sans nom)'}}</a>
				</div>
			<div class="clearfix"></div>					
			<div class='bas-droite' ng-if="Data.modele.groups"><span class='mini bleu' ng-repeat="g in Data.modele.groups" ng-if="story.groups.indexOf(g.id)>=0">{{g.nom}}&nbsp;&nbsp;</span></div>
			</li>
		</ul>
	</div>
</div>
